 <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"></span>
  <form class="modal-content" action="/signup" method="POST">
    <div class="container">
      <center>
          <h1>Sign up</h1>
      <p id="rcorners3">Please fill in this form to create an account.</p>
      <hr>
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="signup[email]" required>

       <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="signup[username]" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="signup[password]" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="signup[password_confirmation]" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <div class="clearfix">
        <center>
          <div>
            <a class="cancelbtn" href="/">Login</a>
          </div>
        </center>
        <input type="submit" name="submit" value = "Sign Up">
        <%if flash[:signup]%>
        <p><%=flash[:signup]%></p>
        <%end%>
      </div>
    </div>
  </form>