<center>
<div>
  	<p id="rcorners2">WELCOME</h1>
</div>

<p id="rcorners1">Learn To Code!</p>
	<p id="rcorners2">This website will help you learn the basics of coding, and by the 	end you'll have your very own website layout!</p>
  <p id="rcorners1">TASKS</p>
</center>

<center>
<div>
<button class="btn btn-success" onclick=" window.open('file:///Users/louis/Documents/TASK1.html','_blank')"> TASK 1</button>
<button class="btn btn-success" onclick=" window.open('file:///Users/louis/Documents/TASK2.html','_blank')"> TASK 2</button>
<button class="btn btn-success" onclick=" window.open('file:///Users/louis/Documents/TASK3.html','_blank')"> TASK 3</button>
<button class="btn btn-success" onclick=" window.open('file:///Users/louis/Documents/TASK4.html','_blank')"> TASK 4</button>
<button class="btn btn-success" onclick=" window.open('file:///Users/louis/Documents/TASK5.html','_blank')"> TASK 5</button>
<button class="btn btn-success" onclick=" window.open('file:///Users/louis/Documents/TASK6.html','_blank')"> TASK 6</button>
</div>
<p>Made by Louis Davis</p>
<body>
</center>

<a href="/logout">logout</a>